
.CounterSettings {
    display: grid;
    grid-template-columns: 200px 250px;
    grid-template-rows: 50px 50px 50px;
    gap: 10px 0px;
    grid-auto-flow: row;
    grid-template-areas: "Max-value input1" "Start-value input2" "Set-button Set-button";
    color: dodgerblue;
    width: 450px;
    margin: 0 auto;
}

.input1 {
    grid-area: input1;
    border-radius: 0px 15px 15px 0px;
    text-align: center;
    background-color: whitesmoke;
}

.input2 {
    grid-area: input2;
    border-radius: 0px 15px 15px 0px;
    text-align: center;
    background-color: whitesmoke;
}

.MaxValue {
    font-size: larger;
    grid-area: Max-value;
    border-radius: 15px 0px 0px 15px;
    text-align: center;
    background-color: whitesmoke;

}

.StartValue {
    font-size: larger;
    grid-area: Start-value;
    border-radius: 15px 0px 0px 15px;
    text-align: center;
    background-color: whitesmoke;
}

.SetButtonArea {
    grid-area: Set-button;
    text-align: center;

}
.ButtonSet{

    margin: 5px auto;
}