.TitlePage {
    text-shadow: 3px 5px 7px black;
    color: whitesmoke;
    font-family: -apple-system;
    font-size: xx-large;
    padding-top: 25px;
    padding-bottom: 10px;
/*    display: block;
    margin: 15px auto;
    height: 45px;
    width: 350px;
    border-radius: 8px;
    background-color: rgba(0,0,0,0.8);
    color: whitesmoke;
    text-align: center;

    box-sizing: border-box;*/
}

body {
    text-align: center;
    background-color: whitesmoke;
}

.container {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    padding: 15px;
    grid-gap: 15px;
}

@media screen and (max-width: 800px) {
    .container {
        grid-template-columns: 1fr
    }
}

.buttonSettings {

}

.CounterDiv {
    color: dodgerblue;
    width: 350px;
    height: 170px;
    border: solid black;
    border-radius: 15px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.3);
    text-shadow: 3px 5px 7px black;
}

.SettingsDiv {

}

.CounterSettings {
    display: grid;
    grid-template-columns: 125px 225px;
    grid-template-rows: 50px 50px 50px;
    gap: 10px 0px;
    grid-auto-flow: row;
    grid-template-areas: "Max-value input1" "Start-value input2" "Set-button Set-button";
    color: dodgerblue;
    width: 350px;
    margin: 0 auto;
    border: solid black;
    border-radius: 15px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.3);

}

button {
    background-color: rgba(0, 0, 0, 0.8);
}

button:disabled {
    background-color: rgba(20, 20, 20, 0.4);
}

input {
    text-align: center;
    height: 30px;
    width: 180px;
    margin: 7px auto;
    font-size: larger;
}

.inputActive {
    color: red;
}

.MaxValueDiv {
    padding: 9px;
    font-size: larger;
    grid-area: Max-value;
    border-radius: 15px 0px 0px 15px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
}

.StartValueDiv {
    padding: 9px;
    font-size: larger;
    grid-area: Start-value;
    border-radius: 15px 0px 0px 15px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
}

.inputMaxValue {
    grid-area: input1;
    border-radius: 0px 15px 15px 0px;
    text-align: center;
    background-color: rgba(20, 20, 20, 0.7);
}

.inputStartValue {
    grid-area: input2;
    border-radius: 0px 15px 15px 0px;
    text-align: center;
    background-color: rgba(20, 20, 20, 0.7);
}

.SetButtonArea {
    grid-area: Set-button;
    text-align: center;

}


.inputCounter {
    height: 40px;
    width: 82%;
    border-bottom: black solid;
    padding: 30px;
    font-size: 3rem;
    text-align: center;
}

.red {
    color: red;
    font-size: 2.9rem;
    font-weight: bolder;
}

.CounterButtonArea {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 8px;
}

.Counter {
    text-align: center;
    width: 350px;
    height: 200px;
    background-color: black;
    margin: 50px auto;
    border: solid;
    color: dodgerblue;
    border-radius: 15px;
}

.inputDiv {
    text-align: center;
    width: 300px;
    height: 80px;
    margin: 20px auto;
    border-radius: 15px;
    border: solid;
    color: dodgerblue;
    font-size: 45px;
    background-color: black;
}

.inputText {
    color: darkred;
}

.alarm {
    font-size: 65px;
    color: darkred;
    border: solid;
    color: dodgerblue;
}

button {
    font-size: 25px;
    width: 100px;
    height: 40px;
    margin: 15px auto;
    border: solid;
    color: dodgerblue;
    border-radius: 15px;
}
