.Counter {
    text-align: center;
    width: 350px;
    height: 200px;
    background-color: black;
    margin: 50px auto;
    border: solid;
    color: dodgerblue;
    border-radius: 15px;

}



.inputDiv {
    text-align: center;
    width: 300px;
    height: 80px;
    margin: 20px auto;
    border-radius: 15px;
    border: solid;
    color: dodgerblue;
    font-size: 45px;
    background-color: whitesmoke;
}

.inputText {
    color: darkred;
}

.alarm {
    font-size: 65px;
    color: darkred;
    border: solid;
    color: dodgerblue;
}

button {
    font-size: 25px;
    width: 100px;
    height: 40px;
    margin: 15px auto;
    border: solid;
    color: dodgerblue;
    border-radius: 15px;
}
